$color-white: #fff;
$color-black: #000;
$color-blueGreen: #146b48;
$color-blueGreenLight: #13a86c;
$color-colorDarkGray: #666666;
$color-colorLightBlue: #e6edf0;
$color-colorDarkGrayBG: #ebebeb;
$color-lightYellow: #ffeb1d;
$color-lightWhite : #eeee;
$color-blue:DodgerBlue;
